:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#container {
    position: fixed;
    width: 100%;
    height: 100%;

    background-color: #2a2a2a;
}

#buttons {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;
    padding-top: 0;
    padding-bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    height: 2.3em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
    border: none;
    border-radius: 0.2em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;

    flex-basis: 5em;

    background-color: #383838;
    color: #d4d4d4;
    box-shadow: 3px 3px 6px 0 rgb(39, 39, 39);
    cursor: pointer;
}

button:hover {
    background-color: #4a4a4a;
}

#button_reset {
    background-color: #6d3333;
}

#button_reset:hover {
    background-color: #8f3a3a;
}

#input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;
    padding-bottom: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

#input input,
#history,
#current {
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    line-height: 22px;
}

#query_form {
    margin: 0;
    padding: 0;
}

#query {
    background-color: #4a4a4a;
    color: #f8f8f2;
    border: none;
    padding: 0.5em;
    padding-bottom: 0;
    outline: none;
    width: 100%;

    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;

    margin: 0;
}

#current {
    background-color: #4a4a4a;
    color: #f8f8f2;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    box-shadow: 3px 3px 6px 0 rgb(39, 39, 39);

    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0;

    padding: 0.3em;
    padding-left: 0.5em;

    min-height: 1.4em;

    white-space: pre;
    overflow: scroll;
}

.query_error {
    color: #ff5555 !important;
}

#history {
    color: rgb(235, 235, 235);
    margin: 0;

    padding: 0.5em;
    padding-top: 0;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.history_item {
    background-color: #3c3c3c;

    border-radius: 0.2em;
    box-shadow: 3px 3px 6px 0 rgb(39, 39, 39);

    padding: 0.3em;
    padding-left: 0.5em;

    margin-bottom: 0.5em;

    cursor: pointer;
}

.history_item:active {
    background-color: rgb(89, 89, 89);
}

/* Snazzy theme:

   yellow: #f1fa8c
   orange: #ffb86c
   red: #ff5555
   magenta: #ff79c6
   violet: #bd93f9
   cyan: #8be9fd
   green: #50fa7b
*/

.numbat-value {
    color: #8be9fd;
}

.numbat-unit {
    color: #bd93f9;
}

.numbat-type-identifier {
    color: #ff79c6;
}

.numbat-keyword {
    font-weight: bold;
}

.numbat-string {
    color: #50fa7b;
}

.numbat-dimmed {
    color: #888;
}

.numbat-diagnostic-red {
    color: #ff5555;
}

.numbat-diagnostic-blue {
    color: #8be9fd;
}

.numbat-diagnostic-bold {
    font-weight: bold;
}
