/* html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
} */

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#container {
    position: fixed;
    width: 100%;
    height: 100%;

    background-color: #2a2a2a;
}

#input {
    box-sizing: border-box;
    width: 100%;
    /* height: 42px; */
    padding: 0.5em;
    padding-bottom: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;


}

#input input,
#history,
#current {
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    line-height: 22px;
}

#query_form {
    margin: 0;
    padding: 0;
}

#query {
    background-color: #4a4a4a;
    color: #f8f8f2;
    border: none;
    padding: 0.5em;
    /* padding-left: 0.8em;
    padding-right: 0.8em; */
    padding-bottom: 0;
    outline: none;
    width: 100%;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    margin: 0;
}

#current {
    background-color: #4a4a4a;
    color: #f8f8f2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    /* box-shadow: 2px 2px 4px 0 rgb(50, 50, 50); */

    margin-bottom: 8px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0;

    padding: 0.3em;
    padding-left: 0.5em;

    min-height: 1.4em;

    white-space: pre;
    overflow: scroll;
}

.query_error {
    color: #ff5555 !important;
}

.button {
    width: 42px;
    background-color: #f1fa8c;
    font-weight: bold;
    height: 100%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    /* border-radius: 21px; */
}

#history {
    color: rgb(235, 235, 235);
    margin: 0;

    padding: 0.5em;
    padding-top: 0;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.history_item {
    background-color: #3c3c3c;

    border-radius: 8px;
    box-shadow: 3px 3px 6px 0 rgb(39, 39, 39);

    padding: 0.3em;
    padding-left: 0.5em;

    margin-bottom: 8px;

    cursor: pointer;
}

.history_item:hover {
    background-color: rgb(89, 89, 89);
}

/* Snazzy theme:

   yellow: #f1fa8c
    orange: #ffb86c
    red: #ff5555
    magenta: #ff79c6
    violet: #bd93f9
    blue: #8be9fd
    cyan: #8be9fd
    green: #50fa7b


*/


.numbat-type-identifier {
    color: #ffb86c;
}

.numbat-value {
    color: #f1fa8c;
}

.numbat-keyword {
    font-weight: bold;
}

.numbat-string {
    color: #50fa7b;
}

.numbat-unit {
    color: #ff79c6;
}

.numbat-dimmed {
    color: #888;
}

.numbat-diagnostic-red {
    color: #ff5555;
}

.numbat-diagnostic-blue {
    color: #8be9fd;
}

.numbat-diagnostic-bold {
    font-weight: bold;
}
