:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#container {
    /* span the full page */
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #282a36;

}

#input {
    width: 100%;
    height: 42px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

#input input {
    background-color: #575961;
    color: #f8f8f2;
    border: none;
    padding: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    /* margin: 0; */
    outline: none;
    width: 100%;
}

.query_error {
    color: rgb(255, 60, 0) !important;
}

.button {
    width: 42px;
    background-color: #f1fa8c;
    font-weight: bold;
    height: 100%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    /* border-radius: 21px; */
}

#results {
    background-color: #282a36;
    color: rgb(235, 235, 235);
    margin: 0;
    padding: 0.5em;
    height: 100%;
}

#input input,
#results {
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    line-height: 22px;
}

#current {
    margin-bottom: 1em;
    background-color: #30323b;

    border: 1px solid #555555;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 0 rgb(50, 50, 50);
    padding: 0.3em;
    padding-left: 0.5em;

}

#history {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    /*align-items:*/
}

.history_item {
    background-color: #30323b;

    /* border: 1px solid #282a36; */
    border-radius: 8px;
    box-shadow: 2px 2px 4px 0 rgb(50, 50, 50);

    padding: 0.3em;
    padding-left: 0.5em;

    margin-bottom: 1em;

    cursor: pointer;
}

/* Snazzy theme:

   yellow: #f1fa8c
    orange: #ffb86c
    red: #ff5555
    magenta: #ff79c6
    violet: #bd93f9
    blue: #8be9fd
    cyan: #8be9fd
    green: #50fa7b


*/


.numbat-type-identifier {
    color: #ffb86c;
}

.numbat-value {
    color: #f1fa8c;
}

.numbat-keyword {
    font-weight: bold;
}

.numbat-string {
    color: #50fa7b;
}

.numbat-unit {
    color: #ff79c6;
}

.numbat-dimmed {
    color: #888;
}

.numbat-diagnostic-red {
    color: #ff5555;
}

.numbat-diagnostic-blue {
    color: #8be9fd;
}

.numbat-diagnostic-bold {
    font-weight: bold;
}
